@using RomaAuto.Models;
@model List<Saler>
@{
    ViewBag.Title = "ყველა მომწოდებელი";
}
<link href="~/Style/TableStyle.css" rel="stylesheet" />
<h1>მომწოდებლების სია</h1>
<style>
    form.form-wrapper {
        float: left;
        width: 100%;
    }
    .form-control {
        display: inline;
    }
    .form-wrapper {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    a.btn {
        text-decoration: none;
        color: black;
        background-color: lightgray;
    }
</style>
<div class="col-lg-12 form-wrapper">
    <form method="post" action="/Admin/Index">
        <input name="Name" type="text" value="@ViewBag.Name" class="form-control" placeholder="სახელი">
        <input name="Lastname" type="text" value="@ViewBag.Lastname" class="form-control" placeholder="გვარი" />
        <input type="submit" value="ძებნა" class="btn" />
    </form>
</div>
<br />
<br />
<a href="/Admin/Create" class="btn">მომწოდებლის დამატება</a>
<br />
<br />

    <table>
        <tr>
            <th>სახელი</th>
            <th>გვარი</th>
            <th>ტელეფონის ნომერი</th>
            <th>მისამართი</th>
            <th>ქალაქი</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Lastname</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>
                <td>@item.City.Name</td>
                <td> @Html.ActionLink("დეტალები", "Details", new { id = item.SalerID }) |</td>
                <td>@Html.ActionLink("წაშლა", "Delete", new { id = item.SalerID })</td>
            </tr>
        }
    </table>
